/* Table.module.css */
@import '../../../../pages/vars';

$border-color: rgb(155, 155, 155);
$border-radius: 8px;
$font-size: 16px;

.table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    margin-top: 24px;
    border-radius: 20px;
    font-size: inherit;

    th,
    td {
        padding: 4px 8px;
        border: 1px solid $border-color;
    }
    .expand-btn {
        position: absolute;
        border-radius: 4px;
        width: 20px;
        height: 20px;
        right: 2px;
        bottom: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
    }
    .head {
        font-size: $font-size;

        th {
            padding: 8px;
            border-top: 1.5px solid $border-color;
            background-color: $secondary;

            &:first-child {
                border-radius: $border-radius 0 0 0;
            }

            &:last-child {
                border-radius: 0 $border-radius 0 0;
            }

            &.content-cell {
                position: relative;

                .expand-btn {
                    top: 5px;
                    right: 8px;
                    margin-left: auto;
                    opacity: 1;
                }
            }
        }
    }

    .body {
        tr {
            &:last-child() {
                border-bottom: 5px solid $border-color;
            }
        }

        th {
            padding: 8px;
            border-top: 1.5px solid $border-color;

            &:first-child {
                border-radius: $border-radius 0 0 0;
            }

            &:last-child {
                border-radius: 0 $border-radius 0 0;
            }
        }

        .table-row {
            overflow: hidden;
            transition: $primary-transition;

            &:nth-child(even) {
                background-color: $primary-hover;
            }

            &:hover {
                background-color: rgba($secondary, 0.2);
            }

            &.status-row {
                td {
                    padding: 16px;
                    font-size: $font-size;
                    text-align: center;
                    border-radius: 0 0 $border-radius $border-radius;
                }

                &:hover {
                    background-color: transparent;
                }
            }

            td {
                max-height: 45px;
            }
        }

        .table-cell {
            position: relative;
            height: 45px;

            &:hover {
                .expand-btn {
                    opacity: 1;
                }
            }
        }

        .content-cell {
            padding-right: 15px;
            height: inherit;

            &:hover {
                .expand-btn {
                    opacity: 1;
                }
            }
        }

        .link-button {
            overflow: hidden;
            width: 100%;
            display: block;
        }

        .text {
            height: inherit;
            height: inherit;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .expanded {
            height: auto;
        }
    }
}
